<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name='csrf-token' content='<%= form_authenticity_token %>' />
    <title>My Web Page</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'styles', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'frontpage', 'data-turbolinks-track': 'reload' %>
</head>
<body>
    <h1>Banannotate</h1>
    
    <div class="main-content">
    <div class="control-group row">
        <input class="col-6" type="text" name="directory" id="directory" value="">
        <div id='load-directory-button' class="button col-1">Load Directory</div>
    </div>
    <div class="control-group row container">
        <div class="row">
            <div id='left-button' class="button col">Prev</div>
            <div id='right-button' class="button col">Next</div>
        </div>
        <div class="row">
            <img id='current-image' class="image-display col" />
            <div class="col">
                <div class="row text-field" name="caption" id="caption" contenteditable></div>
                <div id='save-caption-button' class="row button">Save</div>
                <div id='cancel-caption-button' class="row button">Cancel</div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
